@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,700&amp;subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
html {
  min-height: 100%;
  font-size: 16px; }

body h1 {
  font-size: 2rem; }
body h2 {
  font-size: 1.75rem; }
body h3 {
  font-size: 1.5rem; }
body p {
  font-size: 1rem; }
body sup {
  font-size: 0.8rem;
  color: #f00; }
body a {
  color: #0f0c0a;
  text-decoration: none !important; }
  body a:visited {
    color: #0f0c0a; }
  body a:hover {
    color: #cc7400; }

[canvas] {
  z-index: 1; }

[canvas=container] {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch; }
  [canvas=container]:before, [canvas=container]:after {
    clear: both;
    content: "";
    display: table; }

[off-canvas] {
  display: none;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

[off-canvas*=top] {
  width: 100%;
  height: 255px;
  top: 0; }

[off-canvas*=right] {
  width: 255px;
  height: 100%;
  top: 0;
  right: 0; }

[off-canvas*=bottom] {
  width: 100%;
  height: 255px;
  bottom: 0; }

[off-canvas*=left] {
  width: 255px;
  height: 100%;
  top: 0;
  left: 0; }

[off-canvas*=reveal] {
  z-index: 0; }

[off-canvas*=push] {
  z-index: 1; }

[off-canvas*=overlay] {
  z-index: 9999; }

[off-canvas*=shift] {
  z-index: 9; }

[canvas], [off-canvas] {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 300ms;
  transition: transform 300ms;
  -webkit-backface-visibility: hidden; }

[off-canvas*=shift][off-canvas*=top] {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

[off-canvas*=shift][off-canvas*=right] {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

[off-canvas*=shift][off-canvas*=bottom] {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

[off-canvas*=shift][off-canvas*=left] {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0); }

[class*=js-] {
  cursor: pointer; }

@media print {
  [canvas] {
    -webkit-transform: translate(0px, 0px) !important;
    -ms-transform: translate(0px, 0px) !important;
    transform: translate(0px, 0px) !important; }

  [off-canvas] {
    display: none !important; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::before, ::after {
  font-weight: 900;
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

*[onclick], button {
  cursor: pointer; }

[hidden] {
  display: none !important; }

img {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  border: none; }

a, button, li, dt, dd, p, input, i, span, figure, figcaption, svg, g, path, ellipse {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

label {
  color: #fff;
  margin-bottom: 0; }

input, select, textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 0.35rem 0.75rem;
  outline: none !important; }
  input:hover, select:hover, textarea:hover {
    border-color: #164e8f; }
  input:focus, select:focus, textarea:focus {
    border-color: #94be10; }
  input::placeholder, select::placeholder, textarea::placeholder {
    font-weight: 300;
    color: #ccc; }

[type="checkbox"], [type="radio"] {
  width: auto !important; }

select {
  padding-bottom: 0.75rem; }

textarea {
  resize: none; }

button, button[type="submit"], button[type="reset"] {
  background: none;
  border: none;
  border-color: #00a316;
  border-radius: 0;
  color: #00a316;
  padding: 0.55rem 1.65rem;
  outline: none; }
  button:hover {
    background: #00a316;
    color: #fff;
    outline: none; }

button[type="submit"] {
  background: #f92f19;
  color: #fff; }
  button[type="submit"]:hover {
    background: #b72015; }

button[type="reset"] {
  background: #999;
  border-color: #999;
  color: #fff; }
  button[type="reset"]:hover {
    background: #333;
    color: #fff; }

.cd-top {
  position: fixed;
  bottom: 40px;
  right: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s;
  text-align: center; }
  .cd-top i {
    color: #fff;
    margin-right: 1rem;
    margin-left: 1rem; }

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s 0s; }

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  z-index: 9999; }

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5; }

.cd-top:hover {
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }
@media only screen and (min-width: 1024px) {
  .cd-top {
    right: 30px;
    bottom: 30px; } }
.pagination a {
  border: none;
  color: #0e8dd9;
  padding: 0.5rem 1rem; }
  .pagination a:hover {
    background: none; }
.pagination a[active] {
  background: none;
  color: #fff; }

.editor {
  padding-right: 1rem;
  padding-left: 1rem; }
  .editor h2, .editor h3, .editor h4, .editor h5, .editor h6 {
    margin-top: 3rem;
    margin-bottom: 2rem; }
    .editor h2:nth-of-type(1), .editor h3:nth-of-type(1), .editor h4:nth-of-type(1), .editor h5:nth-of-type(1), .editor h6:nth-of-type(1) {
      margin-top: 0; }

@media (max-width: 991.98px) {
  dd #name {
    width: 100% !important; } }

/*# sourceMappingURL=basic.css.map */
