@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,700&amp;subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
html {
  min-height: 100%;
  font-size: 16px; }

body h1 {
  font-size: 2rem; }
body h2 {
  font-size: 1.75rem; }
body h3 {
  font-size: 1.5rem; }
body p {
  font-size: 1rem; }
body sup {
  font-size: 0.8rem;
  color: #f00; }
body a {
  color: #0f0c0a;
  text-decoration: none !important; }
  body a:visited {
    color: #0f0c0a; }
  body a:hover {
    color: #cc7400; }

[canvas] {
  z-index: 1; }

[canvas=container] {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch; }
  [canvas=container]:before, [canvas=container]:after {
    clear: both;
    content: "";
    display: table; }

[off-canvas] {
  display: none;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

[off-canvas*=top] {
  width: 100%;
  height: 255px;
  top: 0; }

[off-canvas*=right] {
  width: 255px;
  height: 100%;
  top: 0;
  right: 0; }

[off-canvas*=bottom] {
  width: 100%;
  height: 255px;
  bottom: 0; }

[off-canvas*=left] {
  width: 255px;
  height: 100%;
  top: 0;
  left: 0; }

[off-canvas*=reveal] {
  z-index: 0; }

[off-canvas*=push] {
  z-index: 1; }

[off-canvas*=overlay] {
  z-index: 9999; }

[off-canvas*=shift] {
  z-index: 9; }

[canvas], [off-canvas] {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 300ms;
  transition: transform 300ms;
  -webkit-backface-visibility: hidden; }

[off-canvas*=shift][off-canvas*=top] {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

[off-canvas*=shift][off-canvas*=right] {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

[off-canvas*=shift][off-canvas*=bottom] {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

[off-canvas*=shift][off-canvas*=left] {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0); }

[class*=js-] {
  cursor: pointer; }

@media print {
  [canvas] {
    -webkit-transform: translate(0px, 0px) !important;
    -ms-transform: translate(0px, 0px) !important;
    transform: translate(0px, 0px) !important; }

  [off-canvas] {
    display: none !important; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::before, ::after {
  font-weight: 900;
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

*[onclick], button {
  cursor: pointer; }

[hidden] {
  display: none !important; }

img {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  border: none; }

a, button, li, dt, dd, p, input, i, span, figure, figcaption, svg, g, path, ellipse {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.more, .back, .download {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .more a, .back a, .download a {
    background: #0f0c0a;
    border: none;
    border-radius: 0;
    color: #fff !important;
    padding: 0.35rem 2rem; }
    .more a:hover, .back a:hover, .download a:hover {
      background: #cc7400;
      color: #fff; }
    .more a::before, .back a::before, .download a::before, .more a::after, .back a::after, .download a::after {
      font-size: 0.9rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem; }

label {
  color: #fff;
  margin-bottom: 0; }

input, select, textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 0.35rem 0.75rem;
  outline: none !important; }
  input:hover, select:hover, textarea:hover {
    border-color: #164e8f; }
  input:focus, select:focus, textarea:focus {
    border-color: #94be10; }
  input::placeholder, select::placeholder, textarea::placeholder {
    font-weight: 300;
    color: #ccc; }

[type="checkbox"], [type="radio"] {
  width: auto !important; }

select {
  padding-bottom: 0.75rem; }

textarea {
  resize: none; }

button, button[type="submit"], button[type="reset"] {
  background: none;
  border: none;
  border-color: #00a316;
  border-radius: 0;
  color: #00a316;
  padding: 0.55rem 1.65rem;
  outline: none; }
  button:hover {
    background: #00a316;
    color: #fff;
    outline: none; }

button[type="submit"] {
  background: #f92f19;
  color: #fff; }
  button[type="submit"]:hover {
    background: #b72015; }

button[type="reset"] {
  background: #999;
  border-color: #999;
  color: #fff; }
  button[type="reset"]:hover {
    background: #333;
    color: #fff; }

.cd-top {
  position: fixed;
  bottom: 40px;
  right: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s;
  text-align: center; }
  .cd-top i {
    color: #fff;
    margin-right: 1rem;
    margin-left: 1rem; }

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s 0s; }

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  z-index: 9999; }

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5; }

.cd-top:hover {
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }
@media only screen and (min-width: 1024px) {
  .cd-top {
    right: 30px;
    bottom: 30px; } }
.pagination a {
  border: none;
  color: #0e8dd9;
  padding: 0.5rem 1rem; }
  .pagination a:hover {
    background: none; }
.pagination a[active] {
  background: none;
  color: #fff; }

.editor {
  padding-right: 1rem;
  padding-left: 1rem; }
  .editor h2, .editor h3, .editor h4, .editor h5, .editor h6 {
    margin-top: 3rem;
    margin-bottom: 2rem; }
    .editor h2:nth-of-type(1), .editor h3:nth-of-type(1), .editor h4:nth-of-type(1), .editor h5:nth-of-type(1), .editor h6:nth-of-type(1) {
      margin-top: 0; }

@media (max-width: 991.98px) {
  dd #name {
    width: 100% !important; } }
body {
  font-family: "Roboto", "Noto Sans JP", "Noto Sans TC", "Font Awesome 5 Free", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333; }

.more a {
  text-align: center; }
  .more a::after {
    content: "";
    margin-right: 0; }

.back a {
  text-align: center; }
  .back a::before {
    content: "";
    margin-left: 0; }

.download::before {
  content: "";
  margin-left: 0; }

.cd-top {
  width: 2.5rem;
  background: none;
  border-radius: 0; }
  .cd-top:hover {
    background-color: none; }
  .cd-top a[active] {
    background: none; }

header {
  min-height: 160px;
  background: url("../images/layout/bg-header.png") left top repeat-x; }

footer {
  color: #686868;
  padding-top: 3rem; }
  footer section {
    width: 85vw;
    margin-right: auto;
    margin-left: auto; }
    footer section dl dd {
      text-transform: uppercase; }

.list-current dd {
  margin-bottom: 1rem; }
  .list-current dd p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0; }

nav.navbar {
  padding-bottom: 0; }
  nav.navbar .navbar-toggler {
    border-color: #fff;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem; }
    nav.navbar .navbar-toggler:hover {
      background: none;
      border-color: #cc7400; }
    nav.navbar .navbar-toggler i {
      color: #fff; }
      nav.navbar .navbar-toggler i:before, nav.navbar .navbar-toggler i:after {
        margin: 0; }
      nav.navbar .navbar-toggler i:hover {
        color: #cc7400; }
  nav.navbar .navbar-collapse {
    background: none; }
    nav.navbar .navbar-collapse .navbar-nav {
      width: 100%; }
      nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        padding: 0.5rem rem 0 0; }
        nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link p {
          font-size: 1rem;
          font-weight: 300;
          color: #fff;
          margin-bottom: 0; }
          nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link p:hover {
            font-weight: 600;
            color: #cc7400; }
        nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
          background: url("../images/layout/bg-nav.png") left bottom no-repeat;
          background-size: contain; }
      nav.navbar .navbar-collapse .navbar-nav .nav-item select {
        background: rgba(0, 0, 0, 0);
        border: none;
        font-size: 1.15rem;
        color: #fff;
        padding: 1rem; }
        nav.navbar .navbar-collapse .navbar-nav .nav-item select option {
          background: #ffa41f;
          font-size: 1.15rem;
          color: #fff; }
      nav.navbar .navbar-collapse .navbar-nav .dropdown {
        position: initial; }
        nav.navbar .navbar-collapse .navbar-nav .dropdown:hover .dropdown-menu {
          display: block; }
        nav.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
          width: 100%;
          border: none;
          border-radius: 0;
          padding: 0;
          top: 3.75rem; }
          nav.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu li {
            width: 685px;
            margin: 0 auto; }
            nav.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu li dl {
              margin-right: 0;
              margin-left: 0;
              margin-bottom: 0;
              padding-left: 8rem;
              padding-top: 1rem;
              padding-bottom: 1rem; }
              nav.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu li dl dd {
                margin-bottom: 0; }
            nav.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu li .dropdown-item {
              border-bottom: 1px solid #fff;
              border-color: #999;
              font-weight: 500;
              color: #fff;
              padding: 0; }
              nav.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu li .dropdown-item:hover {
                background: none;
                color: #cc7400; }
            nav.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu li:last-of-type .dropdown-item {
              border-bottom: none; }
        nav.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-toggle::after {
          display: none; }

div.slidebars {
  width: 100vw;
  background: rgba(247, 147, 30, 0.9);
  padding: 1rem; }
  div.slidebars .closeBtn {
    text-align: right;
    margin-bottom: 1rem; }
    div.slidebars .closeBtn button {
      background: none;
      border: none;
      color: #fff; }
      div.slidebars .closeBtn button:hover {
        color: #f60; }
  div.slidebars .mobileNav {
    text-align: center;
    margin-bottom: 0; }
    div.slidebars .mobileNav dd {
      border-bottom: 1px solid #fff;
      margin-bottom: 1rem;
      padding-bottom: 1rem; }
      div.slidebars .mobileNav dd a {
        font-size: 1.5rem;
        font-weight: 300;
        color: #fff; }
        div.slidebars .mobileNav dd a:hover {
          color: #f60; }

li.page-item a {
  border: none;
  color: #0e8dd9;
  padding: 0.5rem 1rem; }
  li.page-item a:hover {
    background: none; }
li.page-item a[active] {
  background: none;
  color: #fff; }

@media (max-width: 767.98px) {
  .deskTop,
  .Tablets,
  .deskTopTablets {
    display: none !important; } }
@media (max-width: 991.98px) {
  .deskTop,
  .Mobile,
  .mLandscape,
  .mPortrait {
    display: none !important; } }
@media (min-width: 992px) {
  .Mobile,
  .Tablets,
  .TabletsMobile,
  .mLandscape,
  .mPortrait {
    display: none !important; } }
@media (max-width: 575.98px) {
  a.navbar-brand > img {
    width: 20vw; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  a.navbar-brand > img {
    width: 16vw; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  a.navbar-brand > img {
    width: 12vw; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  a.navbar-brand > img {
    width: 6.5vw; }

  nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link p {
    font-size: 0.8695652174rem; } }
@media (min-width: 1200px) {
  a.navbar-brand > img {
    width: 9vw; } }
@media (min-width: 1281px) {
  a.navbar-brand > img {
    width: 8.5vw; } }
@media (min-width: 1367px) {
  a.navbar-brand > img {
    width: 8vw; } }
@media (min-width: 1441px) {
  a.navbar-brand > img {
    width: 7vw; } }
main {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  main .title {
    text-align: center;
    padding: 0.75rem 0; }
    main .title h1, main .title .sub-page-title {
      background: url("../images/bg-ind-title.png") 50% bottom no-repeat;
      font-weight: 500;
      color: #0f0c0a;
      margin-bottom: 3rem;
      padding-bottom: 0.5rem; }
    main .title h2 {
      color: #0f0c0a;
      margin-bottom: 0; }
    main .title h3 {
      color: #cc7400;
      text-align: left; }
    main .title h4 {
      color: #cc7400;
      text-align: center; }
  main aside dl dt {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ef4c00;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem; }
  main aside dl dd {
    background: #eee;
    text-align: left;
    margin-bottom: 0; }
    main aside dl dd p {
      border-bottom: 1px solid #fff;
      border-color: #0f0c0a;
      margin-bottom: 0;
      padding: 1rem; }
      main aside dl dd p::before {
        content: ""; }
      main aside dl dd p:hover {
        background: #cc7400;
        color: #fff; }
    main aside dl dd p[active] {
      background: #cc7400;
      color: #fff; }
    main aside dl dd:last-of-type p {
      border-bottom: none; }
  main section.company .nav-pills .nav-item {
    border-right: 1px solid #fff;
    border-color: #ddd; }
    main section.company .nav-pills .nav-item:last-of-type {
      border-right: none; }
    main section.company .nav-pills .nav-item .nav-link {
      border-radius: 0;
      padding: 0.25rem 1.5rem; }
    main section.company .nav-pills .nav-item .nav-link.active, main section.company .nav-pills .nav-item .show > .nav-link {
      background: #0f0c0a; }
  main section.company dl.select {
    border: 1px solid #fff;
    border-color: #0f0c0a;
    margin-bottom: 2rem; }
    main section.company dl.select dt, main section.company dl.select dd {
      border-bottom: 1px solid #fff;
      border-color: #0f0c0a;
      margin-bottom: 0;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      main section.company dl.select dt:last-of-type, main section.company dl.select dd:last-of-type {
        border-bottom: none; }
    main section.company dl.select dt {
      background: #606060;
      color: #fff;
      text-align: center; }
    main section.company dl.select dd p {
      margin: 0.25rem 0;
      padding: 0 0.5rem; }
      main section.company dl.select dd p a {
        padding: 0.25rem; }
        main section.company dl.select dd p a:hover {
          background: #cc7400;
          color: #fff !important; }
      main section.company dl.select dd p .active {
        background: #cc7400;
        color: #fff !important; }
  main section.company .company {
    margin-bottom: 0; }
    main section.company .company dd {
      margin-bottom: 2rem; }
      main section.company .company dd figure {
        background: #fff;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden; }
        main section.company .company dd figure > p {
          margin-bottom: 0;
          overflow: hidden; }
          main section.company .company dd figure > p img {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transform: scale(1, 1); }
        main section.company .company dd figure figcaption {
          display: none;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.75);
          position: absolute;
          z-index: 9999;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
          main section.company .company dd figure figcaption div {
            width: 100%;
            height: 100%; }
            main section.company .company dd figure figcaption div span {
              color: #fff; }
              main section.company .company dd figure figcaption div span::after {
                content: "";
                margin-right: 0; }
        main section.company .company dd figure:hover p {
          overflow: hidden; }
          main section.company .company dd figure:hover p img {
            transform: scale(1.2, 1.2); }
        main section.company .company dd figure:hover figcaption {
          display: block; }
      main section.company .company dd h3 {
        color: #000; }
      main section.company .company dd p {
        color: #0f0c0a; }
        main section.company .company dd p span {
          font-size: 0.9090909091rem;
          padding-right: 0.5rem; }
          main section.company .company dd p span:last-of-type {
            padding-right: 0; }
    main section.company .company .team-info {
      border: 1px solid #fff;
      border-color: #dedede; }
    main section.company .company .rank a {
      background: none !important;
      color: #0f0c0a !important; }
      main section.company .company .rank a:hover {
        color: #cc7400 !important; }
    main section.company .company .rank i {
      color: #b7b7b7; }
    main section.company .company .rank i.on {
      color: #cc7400; }
  main section.design dl.select {
    border: 1px solid #fff;
    border-color: #0f0c0a;
    margin-bottom: 2rem; }
    main section.design dl.select dt, main section.design dl.select dd {
      border-bottom: 1px solid #fff;
      border-color: #0f0c0a;
      margin-bottom: 0;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      main section.design dl.select dt:last-of-type, main section.design dl.select dd:last-of-type {
        border-bottom: none; }
    main section.design dl.select dt {
      background: #606060;
      color: #fff;
      text-align: center; }
    main section.design dl.select dd p {
      margin: 0.25rem 0;
      padding: 0 0.5rem; }
      main section.design dl.select dd p a {
        padding: 0.25rem; }
        main section.design dl.select dd p a:hover {
          background: #cc7400;
          color: #fff !important; }
      main section.design dl.select dd p .active {
        background: #cc7400;
        color: #fff !important; }
  main section.design .designer {
    margin-bottom: 0; }
    main section.design .designer dd {
      margin-bottom: 2rem; }
      main section.design .designer dd figure {
        background: #fff;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden; }
        main section.design .designer dd figure > p {
          margin-bottom: 0;
          overflow: hidden; }
          main section.design .designer dd figure > p img {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transform: scale(1, 1); }
        main section.design .designer dd figure figcaption {
          display: none;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.75);
          position: absolute;
          z-index: 9999;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out; }
          main section.design .designer dd figure figcaption div {
            width: 100%;
            height: 100%; }
            main section.design .designer dd figure figcaption div span {
              color: #fff; }
              main section.design .designer dd figure figcaption div span::after {
                content: "";
                margin-right: 0; }
        main section.design .designer dd figure:hover p {
          overflow: hidden; }
          main section.design .designer dd figure:hover p img {
            transform: scale(1.2, 1.2); }
        main section.design .designer dd figure:hover figcaption {
          display: block; }
      main section.design .designer dd h3 {
        color: #000; }
      main section.design .designer dd p {
        color: #0f0c0a; }
        main section.design .designer dd p span {
          font-size: 0.9090909091rem;
          padding-right: 0.5rem; }
          main section.design .designer dd p span:last-of-type {
            padding-right: 0; }
    main section.design .designer figcaption p {
      color: #fff;
      text-align: center;
      margin-bottom: 0; }
      main section.design .designer figcaption p span {
        text-transform: uppercase; }
    main section.design .designer h5 {
      border-left: 3px solid #cc7400;
      color: #cc7400;
      padding-left: 0.5rem; }
      main section.design .designer h5 a {
        background: #cc7400;
        border-radius: 0.5rem;
        font-size: 1rem;
        color: #fff;
        padding: 0.5rem 1.5rem 0.5rem 1rem; }
    main section.design .designer div dl dt {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem; }
      main section.design .designer div dl dt:nth-of-type(odd) {
        border-bottom: 1px solid #fff;
        border-color: #333; }
    main section.design .designer .designer-works .selectors {
      margin-top: 0.25rem; }
      main section.design .designer .designer-works .selectors a {
        width: 20%; }
    main section.design .designer .designer-info {
      border: 1px solid #fff;
      border-color: #ddd;
      padding: 1rem; }
      main section.design .designer .designer-info div img {
        border-radius: 50%; }
      main section.design .designer .designer-info div a {
        border-radius: 0.25rem;
        color: #fff;
        margin-right: 1rem;
        padding: 0.5rem 1.5rem 0.5rem 1rem; }
        main section.design .designer .designer-info div a:first-of-type {
          background: #cc7400; }
        main section.design .designer .designer-info div a:last-of-type {
          background: #ff981d; }
      main section.design .designer .designer-info p {
        margin-bottom: 0.5rem; }
        main section.design .designer .designer-info p:last-of-type {
          margin-bottom: 0; }
        main section.design .designer .designer-info p span {
          border-left: 3px solid #cc7400;
          color: #cc7400;
          padding-left: 0.5rem; }
    main section.design .designer .designer-detail {
      padding: 1rem; }
      main section.design .designer .designer-detail h4 {
        margin-bottom: 1.5rem; }
        main section.design .designer .designer-detail h4 i {
          background: #777;
          border-radius: 5rem;
          color: #fff;
          margin-right: 0.5rem;
          padding: 0.35rem 0; }
      main section.design .designer .designer-detail p {
        border-left: 3px solid #cc7400;
        padding-left: 0.5rem;
        margin-bottom: 0.5rem; }
        main section.design .designer .designer-detail p:last-of-type {
          margin-bottom: 0; }
        main section.design .designer .designer-detail p span {
          color: #cc7400; }
  main section.investment dl.select {
    border: 1px solid #fff;
    border-color: #0f0c0a;
    margin-bottom: 2rem; }
    main section.investment dl.select dt, main section.investment dl.select dd {
      border-bottom: 1px solid #fff;
      border-color: #0f0c0a;
      margin-bottom: 0;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      main section.investment dl.select dt:last-of-type, main section.investment dl.select dd:last-of-type {
        border-bottom: none; }
    main section.investment dl.select dt {
      background: #606060;
      color: #fff;
      text-align: center; }
    main section.investment dl.select dd p {
      margin: 0.25rem 0;
      padding: 0 0.5rem; }
      main section.investment dl.select dd p a {
        padding: 0.25rem; }
        main section.investment dl.select dd p a:hover {
          background: #cc7400;
          color: #fff !important; }
      main section.investment dl.select dd p .active {
        background: #cc7400;
        color: #fff !important; }
  main section.investment .investment {
    padding-right: 0;
    padding-left: 0; }
    main section.investment .investment dd {
      margin-bottom: 2rem; }
    main section.investment .investment h2 {
      color: #fff; }
    main section.investment .investment h5 {
      border-left: 3px solid #cc7400;
      color: #cc7400;
      padding-left: 0.5rem; }
      main section.investment .investment h5 a {
        background: #cc7400;
        border-radius: 0.5rem;
        font-size: 1rem;
        color: #fff;
        padding: 0.5rem 1.5rem 0.5rem 1rem; }
    main section.investment .investment div dl dt {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem; }
      main section.investment .investment div dl dt:nth-of-type(odd) {
        border-bottom: 1px solid #fff;
        border-color: #333; }
    main section.investment .investment .investment-info {
      background: #fff;
      border: 1px solid #fff;
      border-color: #0f0c0a;
      padding: 1rem; }
      main section.investment .investment .investment-info h4 {
        margin-bottom: 1.5rem; }
        main section.investment .investment .investment-info h4 i {
          background: #777;
          border-radius: 5rem;
          color: #fff;
          margin-right: 0.5rem;
          padding: 0.35rem 0; }
      main section.investment .investment .investment-info p:last-of-type {
        margin-bottom: 0; }
      main section.investment .investment .investment-info p span {
        color: #0f0c0a; }
      main section.investment .investment .investment-info:hover {
        border-color: #cc7400; }
    main section.investment .investment .investment-detail {
      padding: 1rem; }
      main section.investment .investment .investment-detail h4 {
        margin-bottom: 1.5rem; }
        main section.investment .investment .investment-detail h4 i {
          background: #777;
          border-radius: 5rem;
          color: #fff;
          margin-right: 0.5rem;
          padding: 0.35rem 0; }
      main section.investment .investment .investment-detail p {
        border-left: 3px solid #cc7400;
        padding-left: 0.5rem;
        margin-bottom: 0.5rem; }
        main section.investment .investment .investment-detail p:last-of-type {
          margin-bottom: 0; }
        main section.investment .investment .investment-detail p span {
          color: #cc7400; }
    main section.investment .investment .contact-info {
      border: 1px solid #fff;
      border-color: #cc7400;
      padding: 1rem; }
      main section.investment .investment .contact-info a {
        border-radius: 0.25rem;
        color: #fff;
        margin-right: 1rem;
        padding: 0.5rem 1.5rem 0.5rem 1rem; }
        main section.investment .investment .contact-info a:first-of-type {
          background: #cc7400; }
        main section.investment .investment .contact-info a:last-of-type {
          background: #ff981d; }
  main section.news .list-abreast {
    margin-bottom: 0; }
    main section.news .list-abreast dd {
      margin-bottom: 1rem; }
      main section.news .list-abreast dd p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 0; }
        main section.news .list-abreast dd p:first-of-type {
          color: #cc7400; }
  main section.video dl {
    margin-bottom: 3rem; }
    main section.video dl dd a {
      border-radius: 0;
      padding: 0; }
  main section.contact > div:nth-of-type(2) {
    text-align: center; }
  main section.contact dl.info {
    margin-bottom: 2rem; }
    main section.contact dl.info i {
      color: #cc7400; }
  main section.contact iframe {
    width: 100% !important; }
  main section.contact dl.forms-group {
    margin-bottom: 0; }
    main section.contact dl.forms-group dd {
      margin-bottom: 0; }
      main section.contact dl.forms-group dd #name {
        width: 50%; }
      main section.contact dl.forms-group dd #xcode {
        width: 10rem; }
      main section.contact dl.forms-group dd img#imgcode {
        width: initial;
        height: 2.5rem !important;
        margin-left: 0.5rem; }
    main section.contact dl.forms-group > dd {
      margin-bottom: 1.5rem; }
      main section.contact dl.forms-group > dd:last-of-type {
        text-align: center; }
      main section.contact dl.forms-group > dd textarea {
        width: 100%;
        height: 15rem; }
  main section.member dl.forms-group {
    margin-bottom: 0; }
    main section.member dl.forms-group dd {
      margin-bottom: 0; }
      main section.member dl.forms-group dd #name {
        width: 50%; }
      main section.member dl.forms-group dd #xcode {
        width: 10rem; }
      main section.member dl.forms-group dd img#imgcode {
        width: initial;
        height: 2.5rem !important;
        margin-left: 0.5rem; }
    main section.member dl.forms-group > dd {
      margin-bottom: 1.5rem; }
      main section.member dl.forms-group > dd:last-of-type {
        text-align: center; }
      main section.member dl.forms-group > dd textarea {
        width: 100%;
        height: 15rem; }
  main section.member .signin {
    border-right: 1px solid #fff;
    border-color: #dedede;
    padding-right: 4rem;
    padding-left: 4rem; }
    main section.member .signin dl.forms-group {
      margin-bottom: 0; }
      main section.member .signin dl.forms-group dd {
        margin-bottom: 0; }
        main section.member .signin dl.forms-group dd #name {
          width: 50%; }
        main section.member .signin dl.forms-group dd #xcode {
          width: 10rem; }
        main section.member .signin dl.forms-group dd img#imgcode {
          width: initial;
          height: 2.5rem !important;
          margin-left: 0.5rem; }
      main section.member .signin dl.forms-group > dd {
        margin-bottom: 1.5rem; }
        main section.member .signin dl.forms-group > dd:last-of-type {
          text-align: center; }
        main section.member .signin dl.forms-group > dd textarea {
          width: 100%;
          height: 15rem; }
  main section.member .signup div h4 {
    text-align: center;
    margin-bottom: 1.5rem; }
  main section.member .signup div p {
    height: 7rem; }
  main section.member .signup div div:last-of-type {
    text-align: center; }
    main section.member .signup div div:last-of-type a {
      border-radius: 0.25rem;
      color: #fff;
      padding: 0.5rem 1.5rem; }
  main section.member .signup div:nth-of-type(1) h4 {
    color: #4aae45; }
  main section.member .signup div:nth-of-type(1) div:last-of-type a {
    background: #4aae45; }
  main section.member .signup div:nth-of-type(2) h4 {
    color: #ff223d; }
  main section.member .signup div:nth-of-type(2) div:last-of-type a {
    background: #ff223d; }
  main section.member .signup div:nth-of-type(3) h4 {
    color: #ffa024; }
  main section.member .signup div:nth-of-type(3) div:last-of-type a {
    background: #ffa024; }
  main section.member .price > div {
    text-align: center; }
    main section.member .price > div > div {
      border: 1px solid #fff;
      border-color: #ededed;
      border-radius: 1rem;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
      cursor: pointer;
      margin-bottom: 2rem; }
      main section.member .price > div > div > div {
        margin-top: 2rem; }
      main section.member .price > div > div:hover {
        border-color: #cc7400;
        color: #cc7400; }
        main section.member .price > div > div:hover > div > span {
          background: #cc7400;
          border-radius: 0.25rem;
          color: #fff;
          padding: 0.25rem 1.15rem; }
    main section.member .price > div > div[active] {
      border-color: #cc7400;
      color: #cc7400; }
      main section.member .price > div > div[active] > div > span {
        background: #cc7400;
        border-radius: 0.25rem;
        color: #fff;
        padding: 0.25rem 1.15rem; }
  main section.member .plan-info {
    border: 1px solid #fff;
    border-color: #cc7400;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    main section.member .plan-info h3 {
      color: #cc7400;
      text-align: center;
      margin-bottom: 2rem; }
    main section.member .plan-info p {
      padding-right: 2rem;
      padding-left: 2rem; }
  main section.member .photo-works {
    margin-bottom: 0; }
    main section.member .photo-works dd p {
      text-align: right;
      margin-top: 1rem;
      margin-bottom: 1rem; }
  main section.member .team-info {
    border: 1px solid #fff;
    border-color: #ddd;
    padding: 1rem;
    position: relative; }
    main section.member .team-info div img {
      border-radius: 50%; }
    main section.member .team-info div a {
      border-radius: 0.25rem;
      color: #fff;
      margin-right: 1rem;
      padding: 0.5rem 1.5rem 0.5rem 1rem; }
      main section.member .team-info div a:first-of-type {
        background: #cc7400; }
      main section.member .team-info div a:last-of-type {
        background: #ff981d; }
    main section.member .team-info p {
      margin-bottom: 0.5rem; }
      main section.member .team-info p:last-of-type {
        margin-bottom: 0; }
      main section.member .team-info p span {
        border-left: 3px solid #cc7400;
        color: #cc7400;
        padding-left: 0.5rem; }
    main section.member .team-info .cover {
      display: none;
      width: 89%;
      height: 91%;
      background: rgba(0, 0, 0, 0.75);
      position: absolute;
      z-index: 9999; }
      main section.member .team-info .cover > div {
        width: 100%;
        height: 100%; }
    main section.member .team-info:hover .cover {
      display: block; }

.message {
  width: 40vw;
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem; }
  .message h3 {
    font-size: 1.15rem;
    color: #cc7400;
    text-align: center;
    margin-bottom: 1rem; }
  .message textarea {
    height: 12rem; }

.rank {
  width: 40vw;
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem; }
  .rank h3 {
    font-size: 1.15rem;
    color: #cc7400;
    text-align: center;
    margin-bottom: 1rem; }
  .rank textarea {
    height: 12rem; }
  .rank span i, .rank span i.on {
    color: #b7b7b7; }
    .rank span i:hover, .rank span i.on:hover {
      color: #cc7400; }

@media (max-width: 767.98px) {
  .message {
    width: 95vw; } }
@media (max-width: 991.98px) {
  .Breadcrumb {
    display: none !important; }

  main section.member .signin {
    border-right: none;
    padding-right: 1rem;
    padding-left: 1rem; } }
@media (min-width: 992px) {
  .Breadcrumb {
    padding-left: 0; }
    .Breadcrumb li {
      list-style: none;
      color: #cc7400; }
      .Breadcrumb li:last-of-type::after {
        content: none; }
      .Breadcrumb li::after {
        content: "";
        color: #0f0c0a; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .message {
    width: 70vw; } }

/*# sourceMappingURL=pages.css.map */
